$body-background-color: #fff;
$h-color: #bfbfbf;
$top-profile-color: $body-background-color;
$top-background-color: #1f5986;
$top-profile-hover: #555;
$background-color-main: rgba(17, 25, 65, 0.75);
$banner-about-color: #416a91;
$banner-about-color-2: #3d9fa8;
$box-shadow-panel: rgb(156, 155, 155) 2px 3px 13px;
$panel-personal: #1d568dd1;
$color-panel-heading: $body-background-color;
$color-panel-introduction: #3d9fa8bf;
$text-color-table: #eff3f3;
$fa-color-table: rgb(123, 170, 211);
$proyectos-background: #0b1024;
$proyectos-background-2:  #331b29;
$conocimiento-background: #591412;
$conocimiento-background-2: #591412;
$color-card-html: #f8737c;
$color-card-css: #6cacdc;
$color-card-scss: #cd6699;
$color-card-ftl:#224cbe;
$color-card-api: #546c7c;
$color-card-scrum: #dc9600;
$color-card-occ: #fbb40e;
$color-card-liferay: #4c94c3;