@font-face {
    font-family: 'rams';
    src: url("../fonts/Rams.otf");
}

@font-face {
    font-family: 'rams-bold';
    src: url("../fonts/Rams-Bold.otf");
}

@font-face {
    font-family: 'rams_black';
    src: url("../fonts/RamsBlack.otf");
}