@import "_colors";
@import "_fonts";

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0px;
    background-color: $body-background-color;
}

p {
    letter-spacing: 2px;
    font-family: "rams";
}

h2 {
    align-self: center;
    display: flex;
    align-items: center;
    color: $h-color;
    flex-direction: column;
    z-index: 2;
    font-size: 45px;
}

.col-md-6 {
    padding: 0px;
}

#top-profile {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: $top-background-color;
    color: $top-profile-color;
    cursor: pointer;
    padding: 15px;
    border-radius: 66%;

    &:hover {
        background-color: $top-profile-hover;

    }

}



.info {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 10%;
    align-content: center;
    flex-direction: column;
}


.fas {

    &:before {
        font-size: 23px;
        padding: 10px;
    }
}


.colum-texto {
    height: 100vh;
    overflow-y: auto;
}

/*1. Home Profile*/

.home-profile {
    background-image: url("../img/pexels-junior-teixeira-2047905.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;

    main {
        width: 90%;
        height: 90%;
        background-color: $background-color-main;
        align-self: center;
        margin: 0 auto;
        text-align: center;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;

        h1 {
            color: $h-color;
            font-family: "rams-bold";
            font-size: 40px;
            animation: VelozIn 5s infinite;
        }

        @keyframes VelozIn {

            0% {
                opacity: 0;
                transform: translateX(-100vw) skewX(70deg);
            }

            60% {
                opacity: 1;
                transform: skewX(-20deg);

            }

            80% {
                transform: skewX(15deg);
            }

        }



    }

    nav {
        &.main-nav {
            &.nav-profile {
                width: 100%;
                position: absolute;
                bottom: 0;

                ul {
                    text-align: center;
                    list-style: none;
                }

                li {
                    display: inline-block;

                    &::before {
                        content: '/';
                        padding: 0 12px 0 9px;
                        color: $color-panel-heading;
                    }

                    &:first-of-type {
                        &::before {
                            content: ' ';
                        }
                    }
                }
            }
        }
    }



    .nav-item {
        color: #ffffff;
        font-family: 'rams_black';
    }

}


/*---2. Description Profile--*/

.img-circle {
    width: 51%;
    border-radius: 50%;
    opacity: 0.4;
    transition: opacity 1s;
}


.img-circle {
    &:hover {
        opacity: 1;
    }
}

.banner-about-color {
    background-image: linear-gradient(90deg, $banner-about-color, $banner-about-color-2);
    height: 100vh;
}

#about {

    .panel {
        margin-bottom: 10%;
        box-shadow: $box-shadow-panel;

        &.panel-personal {
            border: 2px solid $panel-personal;

            .panel-heading {
                background: $panel-personal;
                padding: 10px;
                color: $color-panel-heading;
            }

            .panel-body {
                padding: 20px;
                color: $color-panel-heading;
                font-size: 15px;
            }

        }

        &.panel-introduction {
            border: 2px solid $color-panel-introduction;

            .panel-heading {
                background-color: $color-panel-introduction;
                padding: 10px;
                color: $color-panel-heading;
            }

            .panel-body {
                padding: 20px;
                color: rgb(66, 65, 65);
                font-size: 15px;
                font-family: 'rams';

                ::marker {
                    color: #3d9fa8bf;
                    font-size: 20px;
                }

            }


        }
    }
}

#work {

    .card-conocimiento {
        padding: 19px;
        width: 80%;
        height: auto;
        background: #fff;
        border-radius: 16px;
        -webkit-box-shadow: 2px 3px 13px #999;
        -moz-box-shadow: 2px 3px 13px #999;
        box-shadow: 2px 3px 13px #999;
        margin: auto;
        margin-bottom: 35px;

        .info-card-cono {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }


        .iconos-tecnologias {
            width: 27%;
            height: 55px;
        }

        .progress-bar {
            background-color: #d0d1d1;
            height: 15px;
            width: 80%;
            border-radius: 5px;

            span {
                display: inline-block;
                height: 100%;
                border-radius: 3px;
            }
        }


        p {
            font-weight: bolder;
        }

        &.card-html {

            p {
                color: $color-card-html;
            }

            span {
                background-color: $color-card-html;
            }
        }

        &.card-css {

            p {
                color: $color-card-css;
            }

            span {
                background-color: $color-card-css;
            }
        }

        &.card-scss {

            p {
                color: $color-card-scss;
            }

            span {
                background-color: $color-card-scss;
            }
        }

        &.card-ftl {

            p {
                color: $color-card-ftl;
            }

            span {
                background-color: $color-card-ftl;
            }

            .fa-laptop-code {

                &:before {
                    font-size: 40px;
                    content: "\f5fc";
                    color: $color-card-ftl;
                }
            }
        }

        &.card-api {

            p {
                color: #808f97;
            }

            span {
                background-color: #808f97;
            }
        }

        &.card-js {

            p {
                color: $color-card-api;
            }

            span {
                background-color: $color-card-api;
            }
        }

        &.card-scrum {

            p {
                color: $color-card-scrum;
            }

            span {
                background-color: $color-card-scrum;
            }
        }

        &.card-occ {

            p {
                color: $color-card-occ;
            }

            span {
                background-color: $color-card-occ;
            }
        }

        &.card-liferay {

            p {
                color: $color-card-liferay;
            }

            span {
                background-color: $color-card-liferay;
            }
        }
    }

    /* 3 Section 2 columna*/

    .banner-conocimiento-profile {
        background-image: linear-gradient(90deg, $conocimiento-background, $conocimiento-background-2);
        height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }


    .img-conocimiento {
        width: 20%;
        position: absolute;
        top: 35%;
        right: 50%;
        transform: rotate(-31deg);
        border-radius: 50%;

    }
}


#proyectos {
    background-image: linear-gradient(90deg,  $proyectos-background,$proyectos-background-2);

    p {
        font-family: 'rams';
        font-size: 30px;
        font-weight: lighter;
        color: $body-background-color;
    }

    .galeria {
        width: 80%;
        margin: 0 auto;
        padding: 40px;

        img {
            &.img-proyectos {
                border: 1px solid $top-profile-hover;
                width: 100%;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                z-index: 0;

                &:hover {
                    -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
                }

            }

        }

        .col-img {
            transition: transform .2s;
            z-index: 0;
            margin: auto;

            &:hover {
                transition: transform .2s;
                transform: scale(1.2);
                z-index: 1;
            }

        }
    }

}


/* 5 Section Certificados*/

#certficaciones {

    .galeria {
        width: 80%;
        margin: 0 auto;
        padding: 40px;
    }

    i {
        &.fas {
            &.fa-cloud-download-alt {
                color: $text-color-table;

                &:hover {
                    color: $fa-color-table;
                }
            }
        }
    }

    table {
        font-size: 16px;
        font-family: 'rams';
        font-weight: lighter;
        color: $text-color-table;
    }

}